.modal{
   margin: auto;
   color: #282726;
   width: 550px;
   height: 450px;
   border-radius: 30px;
   background-color: #6A8A82;
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.modal_text{
   color: #FFFFFF;
   font-size: 18px;
   margin-left: 7px;
   margin-right: 7px;
}
@media (max-width: 440px) {
   .modal {
      width: 300px;
   }
}