.market{
   margin: 0 auto;
   max-width: 1440px;
   height: fit-content;
   display: flex;
   flex-wrap: wrap;
   background-color: rgb(255, 255, 255);

   &__cart{
      margin: 20px;
      border-radius: 20px;
      background-color: #efefe3;
   }
   &__cart-item {
      width: 320px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;

      .cart-item-title {
         font-size: 22px;
         font-weight: bold;
         margin-bottom: 10px;
         margin-top: 10px;
      }
      .cart-item-image {
         width: 250px;
         height: 200px;
         transition: all 1s ease;
      }
      .cart-item-image:hover {
         width: 300px;
         height: 250px;
      }
      .cart-item-text {
         text-align: center;
         margin: 15px;
         font-size: 14px;
      }
      .cart-item-button{
         color: #2E2E2E;
         font-weight: 500;
         border-radius: 30px;
         padding: 12px 50px;
         background: linear-gradient(90deg, #FFE259 15.1%, #FFA751 85.42%);
         cursor: pointer;
         border: none;
         transition: all 2s ease-in-out;
         span{
            font-size: larger;
            font-weight: 600;
         }
      }
      .cart-item-price {
         display: flex;
         align-items: center;
         font-size: 20px;
         font-weight: 600;
         p{
            font-size: 20px;
            font-weight: 600;
            font-family: monospace;
            margin-left: 50px;
         }
      }
      .cart-item-rating {
         margin-left: 20px;
         font-size: 18px;
         font-weight: 500;
         display: flex;
         align-items: center;
         margin-top: 20px;
      }
      .cart-item-coursel-wrapper {
         display: flex;
         margin-top: 15px;
         gap: 7px;
      }
      .cart-item-coursel {
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: blueviolet;
      }
   }
   .market__info{
      display: flex;
      align-items: center;
      justify-content: center;

      &__info-price{
         font-size: 22px;
         color: #e581f2;
      }
      &__info-raiting{
         margin-left: 20px;
         font-size: 18px;
         color: #e581f2;
      }
   }
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  background: linear-gradient(90deg, #d7be3f 15.1%, #eb8927 85.42%);

  &__img{
    margin: 10px 10px;
    width: 80px;
    height: 80px;
  }
  &__menu{
    display: flex;

    .menu-item{
      margin-left: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #000000;
      cursor: pointer;
      transition: all 1s ease-in-out;
    }
    .menu-item:hover{
      color: rgb(255, 255, 255);
    }
  }
}