.market{
   width: 100%;
   height: fit-content;
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   background: url('../../img/smooth.png');

   .market__cart{
      margin: 20px;
      border-radius: 20px;
      background-color: #edeaf7;
   }
   .market__cart-item {
      width: 320px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .cart-item-title {
         font-size: 22px;
         font-weight: bold;
         margin-bottom: 10px;
         margin-top: 10px;
      }
      .cart-item-image {
         width: 250px;
         height: 200px;
      }
      .cart-item-text {
         text-align: center;
         margin: 15px;
         font-size: 16px;
      }
      .cart-item-price {
         width: 70%;
         display: flex;
         align-items: flex-start;
         font-size: 20px;
         font-weight: 600;
      }
      .cart-item-rating {
         margin-left: 20px;
         font-size: 18px;
         font-weight: 500;
      }
      .cart-item-coursel-wrapper {
         display: flex;
         margin-top: 15px;
         gap: 7px;
      }
      .cart-item-coursel {
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: blueviolet;
      }
   }
   .market__info{
      display: flex;
      align-items: center;
      justify-content: center;

      .market__info-price{
         font-size: 22px;
         color: #e581f2;
      }
      .market__info-raiting{
         margin-left: 20px;
         font-size: 18px;
         color: #e581f2;
      }
   }
}