.home{
   background-color: #1E1E1E;
   color: #DBDBDB;
   height: 100%;
}

.home_container{
   max-width: 1200px;
   margin: 0 auto;
}

.nome_info-wrapper{
   padding-top: 160px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.nome_info-icon{
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-color: #B16932;
   display: flex;
   align-items: center;
   justify-content: center;
}
.nome_info-text{
   margin-left: 200px;
}
.nome_info-title {
   font-family: 'Bruno Ace';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 70px;
}

.nome_info-button{
   margin-top: 95px;
   background-color: transparent;
   border: 3px solid #B36A32;
   border-radius: 30px;
   transition: all 1s ease-in-out;
}
.nome_info-button-right{
   margin-left: 40px;
}

.nome_info-button:hover {
   border: 3px solid #CD5310;
}

.nome_info-button-text{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #DBDBDB;
   padding: 10px 20px;
}

.home_forMy-title{
   text-align: center;
   font-family: 'Akaya Telivigala';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 60px;
   letter-spacing: 0.05em;
   margin-top: 180px;
}

.home_forMy {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home_forMy-text{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   letter-spacing: 0.05em;
   width: 50%;
}

.home_works{
   display: grid;
   grid-template-columns: 50% 50%;
}

.home_experience{
   width: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.home_experience-tab{
   height: 47px;
   width: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-left: 6px solid #2E2C2C;
   transition: all 0.7s ease-in;
}

.home_experience-tab:hover{
   border-left: 6px solid #B16932;
}

.home_experience-wrapper{
   display: flex;
   margin-top: 125px;
}
.chudik{
   width: 200px;
   height: 200px;
}
.big-tower{
   width: 300px;
   height: 660px;
}
.small-tower{
   width: 200px;
   height: 565px;
}
.kaktus{
   width: 100px;
   height: 592px;
}
.flying-city{
   width: 669px;
   height: 655px;
}
.volcano{
   height: 540px;
   width: 300px;
}
.container_model{
   display: flex;
   flex-direction: column;
}
.wrapper_models{
   display: flex;
   flex-wrap: wrap;
   align-items: end;
}

.home_footer{
   width: 100%;
   border-top: 2px solid white;
   display: flex;
   padding-bottom: 40px;
}
.home_nav{
   margin-top: 46px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #FEFAFA;
}
.home_contact{
   margin-top: 46px;
   margin-left: 300px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #FEFAFA;
}