.cart{
   width: 100%;
   height: 446px;
   color: white;
   border-radius: 80px;
   box-shadow: 5px 5px 10px black;
   background-color: #B16932;
   overflow: hidden;
}

.link{
   height: 400px;
   text-decoration: none;
   margin: 30px;
}
.cart_title{
   margin-top: 10px;
   font-size: 24px;
   margin-left: 25px;
   padding-top: 36px;
}

.cart_text{
   margin-left: 25px;
   margin-top: 20px;
   font-family: 'Delius';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 25px;
   margin-bottom: 40px;
}

.cart_image{
   border-radius: 30px;
   width: 100%;
   height: 287px;
}
@media (max-width: 440px) {
   .cart {
      height: 360px;
      width: 270px;
   }
}